@inherits ReactiveComponentBase<AddPackageViewModel>
@if(ViewModel != null)
{
    <AlertView Alert="ViewModel.Alert" />
    <MudPopover Open="ViewModel.IsOpen" Fixed="true" Class="px-4 pt-4">
        <div class="d-flex flex-column">
            <MudStack>
                <MudNumericField @bind-Value="ViewModel.ResumeGenerations" Label="Resume Generations" Variant="Variant.Outlined" />
                <MudNumericField @bind-Value="ViewModel.Price" Label="Price" Adornment="Adornment.Start" AdornmentText="$" Variant="Variant.Outlined" />
                <MudStack Row="true">
                    <MudButton OnClick="ViewModel.Add.BindCommand<MouseEventArgs>()">Add Package</MudButton>
                    <MudButton OnClick="ViewModel.Cancel.BindCommand<MouseEventArgs>()">Cancel</MudButton>
                </MudStack>
            </MudStack>
        </div>
    </MudPopover>
}
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && ViewModel != null)
            await ViewModel.Init.Execute().GetAwaiter();
        await base.OnAfterRenderAsync(firstRender);
    }
}
