@using Microsoft.AspNetCore.Components.Web
@namespace Programming.Team.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <style>
        @* override mudblazor default values *@
        :root {
            --mud-palette-primary: rgba(47, 166, 227, 1) !important;
            --mud-palette-primary-rgb: 47, 166, 227 !important;
            --mud-palette-primary-darken: rgba(28,99,136,1) !important;
            --mud-palette-primary-lighten: rgba(130,201,238,1) !important;
            --mud-typography-default-family: "Inter", serif !important;
            --mud-default-borderradius: 8px !important;
            --mud-typography-button-text-transform: initial !important;
        }
        @* Bootstrap-like exntension *@
        .text-nowrap {
            text-wrap: nowrap;
        }
        .fw-semi-bold {
            font-weight: 500;
        }
        .fw-bold {
            font-weight: 600;
        }
        .rounded-mxl {
            border-radius: 16px;
        }
        @* Corresponds to .mud-typography-xxx, but only font-size *@
        .fs-h1 {
           font-size: 6rem;
        }
        .fs-h2 {
            font-size: 3.75rem;
        }
        .fs-h3 {
            font-size: 3rem;
        }
        .fs-h4 {
            font-size: 2.125rem;
        }
        .fs-h5 {
            font-size: 1.5rem;
        }
        .fs-h6 {
            font-size: 1.25rem;
        }
        .fs-body1 {
            font-size: 1rem;
        }
        .fs-body2 {
            font-size: .875rem;
        }
    </style>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>
