<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All"><span aria-hidden="true"><i class="fa-duotone fa-solid fa-house"></i> Home</span></MudNavLink>
    <MudNavLink Href="/admin/roles"><span aria-hidden="true"><i class="fa-solid fa-circle-half-stroke"></i> Roles</span></MudNavLink>
    <MudNavLink Href="/admin/users"><span aria-hidden="true"><i class="fa-solid fa-users"></i> Users</span></MudNavLink>
</MudNavMenu>